<main class=" flex flex-col lg:flex-row hero-split
{{ heroSettings.bg.color or 'bg-black' }} {{ heroSettings.height.mobile or 'h-1/1' }} sm:{{ heroSettings.height.desktop or heroSettings.height.mobile or 'h-1/1' }}">
  <div
        class="flex content-center justify-center w-1/2 mx-auto prose text-center prose-l max-w-7xl lg:text-left place-content-center"
      >
    <div class="flex content-center justify-center w-11/12 align-middle text-gray-50 place-content-center">

      <h1
            class=" shadow-lg self-center text-5xl font-semibold leading-10 tracking-tight {{ heroSettings.headingTextColor or 'text-white' }} sm:text-5xl sm:leading-none md:text-6xl lg:text-5xl xl:text-6xl"
          >
        {{ title | safe }}
      </h1>
      <p
            class="shadow-lg max-w-md mx-auto mt-3 text-lg {{ heroSettings.subheadingTextColor }} sm:text-xl md:mt-5 md:max-w-3xl"
          >
        {{ heroSettings.subheadingText | safe }}

      </p>

      {% if heroSettings.buttonText %}
        <div class="w-full mt-12 ">
          <a href="{{ heroSettings.buttonURL }}" class="p-4 rounded-lg {{ heroSettings.buttonTextColor or colors.buttonCustom.text or colors.buttonDefault.text }} {{ heroSettings.buttonBgColor or colors.buttonCustom.bg or colors.buttonDefault.bg }} hover:{{ colors.buttonCustom.textHover or colors.buttonDefault.textHover }} hover:{{ heroSettings.buttonBgHover or colors.buttonCustom.bgHover or colors.buttonDefault.bgHover }} {{ heroSettings.buttonBorder or colors.buttonCustom.border or colors.buttonDefault.border }}">{{ heroSettings.buttonText }}</a>
        </div>
      {% endif %}

    </div>
  </div>
  <div
        class="flex lg:w-1/2 h-1/2 lg:h-full"
      >
    <img
          class="w-auto h-auto"
          src="/assets/images/{{ heroSettings.bg.image }}"
          alt="Hero Image"
/>
  </div>
</main>

