{% set postslist = posts | reverse %}

<section class="mt-8 post-wrapper">
  <div class=post-list-wrapper>
    <ul class="post-list">
      {% for post in postslist | reverse %}
        {% include 'components/postlistitem.njk' %}
      {% endfor %}
    </ul>

    {# ===== Paginate based on "size" frontmatter value above =====  #}
    {# Don't even include the pagination component if there are fewer posts than needed to paginate  #}
    {% if collections.post.length > pagination.size %}
      {% include "components/pagination.njk" %}
    {% endif %}
  </div>
  <ul class="search-list"></section>