<li class="mb-8 ">

	{% if postListItemStyle.complete %}
		<div class="text-sm text-gray-700">
			<time datetime="{{ post.data.page.date | dateToFormat("yyyy-MM-dd") }}">
				{{ post.data.page.date | dateToFormat("dd LLLL yyyy") }}
			</time>
		</div>
	{% endif %}

	{# Post Title  #}
	<H2 class="text-2xl font-semibold leading-7 lg:text-3xl text-accent2">

		<a href="{{ post.url }}" class="block hover:underline">
			{{ post.data.title }}
		</a>
	</H2>
	{# Display Post Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
	{#	{% if postListItemStyle.complete %}
#}

	{% if postListItemStyle.complete %}
		<p class="label">
			{{ post.data.description |  removeMD}}
			{{ post.data.page.description | removeMD }}
		</p>
	{% endif %}

	{#	{% endif %}
#}
</li>