<!DOCTYPE html>
<html lang="fr" class="font-sans">
  <head>
    {%- include "components/head.njk" %}

  </head>
  <body
  x-data= class="template-{{layout}} {{ colors.siteTextCustom or siteTextDefault }} sans">
    {#    <div hidden>{% svgsprite %}</div>
#}
    <div class="flex flex-col min-h-screen mx-auto container-2xl">
      {% include "components/nav.njk" %}

      <main
      id="content"
       class=" anim-nav-closed mb-10 {{" " if layout == 'post'}} sm:px-per-lg px-per  relative flex-grow block max-w-full transition-all duration-300 ease-out " id="content">
        {{ content | safe }}
      </main>

      {% include "components/footer.njk" %}
    </div>

  </body>
</html>