---
layout: base
---
{% if hero %}
  {% set heroComponent = ['components/hero-', hero, '.njk'] %}
  {% include heroComponent | join %}
{% else %}

{% endif %}
<article class="template-post my-20 prose lg:prose-xl prose-lg article {{ structure.g_proseWidth }}">
  {#  Allows a user to easily change the Hero type on the Home page...or any page.
          See /src/home.md for how to use.
      #}

  {# If any frontmatter includes images.feature, insert it at the top of the page,
      below the nav and outside the default wrapper below. #}
  {% if images.feature %}
    <figure class="w-screen {{ images.height or "h-48 md:h-1/3" }}">
      <img class="object-cover {{ images.align }} w-full h-full" src="{{ images.feature if 'http' in images.feature else "/assets/images/" + images.feature }}" alt="{{ title }}">
    </figure>
  {% endif %}

  {% if not hero %}
    <header class="">
      <h1 class="{{ colors.headingsCustom or colors.headingsDefault }}">{{ seo.title or title }}</h1>
      <div class="text-sm {{ colors.authorCustom.date or colors.authorDefault.date}}">
        <time datetime="{{ page.date | dateToFormat("yyyy-MM-dd") }}">
          {{ page.date | dateToFormat("dd LLLl yyyy") }}
        </time>
      </div>
    </header>
  {% endif %}

  <main>{{ content | safe }}</main>

</article>

<footer class="container-wide ">
  {% if structure.g_showTagPills or structure.g_showSocialShareIcons %}
    <div class="pt-4 mt-12 border-t md:justify-between md:items-start md:flex md:flex-row">
      {# If you don't want to display the Tag Pills, set "false" in /src/_data/structure.js #}
      {% if structure.g_showTagPills %}
        {% include "components/tagpills.njk" %}
      {% endif %}

    </div>
  {% endif %}

  {# ===== Previous and Next =====  #}
  <div class="border-t mt-4 pt-4 {{ colors.borderCustom.color or colors.borderDefault.color }} md:flex-row md:flex md:justify-between">
    {% set nextPost = collections.post | getPreviousCollectionItem(page) %}
    {% set previousPost = collections.post | getNextCollectionItem(page) %}
    <div class="py-2 text-center sm:py-0">
      {% if previousPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} hover:{{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ previousPost.url | url }}">← {{ previousPost.data.title }}</a>
      {% endif %}
    </div>
    <div class="py-2 text-center sm:py-0">
      {% if nextPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} hover:{{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ nextPost.url | url}}">{{ nextPost.data.title }} →</a>
      {% endif %}
    </div>
  </div>
</footer>