---
layout: post
---

{{ content | safe }}

{% if layout === "post-gallery" %}
	{% include "../components/gallery.njk" %}

	{% set css %}
	{% include "src/assets/css/photoswipe/photoswipe.css" %}
	{% include "src/assets/css/photoswipe/skin.css" %}
	{% endset %}
	<style>
		{{css | minify('css') | safe}}
	</style>

<script  src="/assets/scripts/{{hashes_js['gallery.js']}}" defer></script>{% endif %}