


.article {
	h1, h2, h3, h4, h5 {
		display: flex;
		position: relative;
		padding-left: 2em;
		left: -2em;
		&:hover a {
			display: inline-block;

		}
	}
	.deeplink {
		position: absolute;
		left:0;
		display: none;
		padding:0 .5em;
		@apply text-accent2;
	}
}



@media screen and (max-width:1024px){

	.hero-split img {
		width: auto;
		height: inherit;
		max-height: 48vmax;
		align-self: flex-start;
	}
}

/*@media screen and (min-width:768){
	.hero-split img {
		width: auto;
		height: inherit;
		max-height: 15vmin;
	}
}*/

.article.prose figure img {
    margin: auto !important;
}


	.container-wide {
		margin-left: calc(30% - 30vw);
		margin-right: calc(30% - 30vw);
		position: relative
	}

.container-wide {
		margin-left: calc(30% - 30vw);
		margin-right: calc(30% - 30vw);
		position: relative
	}

	.article img, .article video, .article iframe {
		margin:auto
	}
