

--root {
	--navbar-height:1;
}

@layer base {
	body h1,
	body h2,
	body h3,
	body h4,
	body h5,
	body h6 {
		@apply font-semibold text-gray-700;
		padding:0
	}
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply pt-12 text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	h5 {
		@apply text-lg;
	}
	a,
	li a,
	blockquote a,
	dd a {
/*		@apply font-medium text-indigo-700;
*/		text-decoration-skip-ink: auto;
	}

}

@layer components {
		.label {
		@apply text-base my-2 text-gray-700
	}
}

.page {
	h1, h2, h3, h3, h5 {
		padding:0
	}
}

#content {
	min-height: 20em;
}


.wrapper > p:first-of-type {
	@apply p-0 m-0;
}


pre code {
	@apply bg-transparent border-0 rounded-none;
}


