@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-semibold text-gray-700;
}
h1 {
	@apply text-4xl;
}
h2 {
	@apply pt-12 text-3xl;
}
h3 {
	@apply text-2xl;
}
h4 {
	@apply text-xl;
}
h5 {
	@apply text-lg;
}
p a,
li a,
blockquote a,
dd a {
	@apply font-medium text-indigo-700;
}
p {
	@apply mt-4;
}

.page {
	h1, h2, h3, h3, h5 {
		padding:0
	}
}

.wrapper > p:first-of-type {
	@apply p-0 m-0;
}

code {
	@apply p-1 text-sm bg-gray-200 border border-gray-300 rounded-lg;
}
pre code {
	@apply bg-transparent border-0 rounded-none;
}





.article .cta {
   @apply block px-8 py-4 m-auto font-semibold no-underline bg-gray-200 rounded-full shadow-md max-w-max focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75 hover:text-gray-800 hover:bg-gray-300 ;

}

.article main{
	h1, h2, h3, h4, h5 {
		position: relative;
		padding-left: 2em;
		left: -2em;
		&:hover a {
			display: inline-block;

		}
	}
	.deeplink {
		position: absolute;
		left:0;
		display: none;
		padding:0 .5em;
		@apply text-accent;
	}
}

@media screen and (max-width:1024px){

	.hero-split img {
		width: auto;
		height: inherit;
		max-height: 50vmax;
		align-self: flex-start;
	}
}

/*@media screen and (min-width:768){
	.hero-split img {
		width: auto;
		height: inherit;
		max-height: 15vmin;
	}
}*/

@media screen and (min-width:1024px){
	.img-wrapper {
		margin-top: 4%;
	}
	.hero-split img {
		width: auto;
		max-height: 60vmax;
		align-self: flex-start;}
}

	.decor-dark {
	position: absolute;
	@apply bg-dark;
	width: 100vw;
	height: inherit;
	z-index: -1;
	overflow: hidden;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
/*	box-shadow: 0px 3px 8px 1px #132233ad;
*/
	}


	.container-wide {
		margin-left: calc(30% - 30vw);
		margin-right: calc(30% - 30vw);
		position: relative
	}


	.article main img {
		margin:auto
	}

	/*.hero-split > div {
	position: relative;
	top: -5rem;
	}*/


	.nav-selected {
	&:after {
		content:'';
		width:100%;
		height:4px;
		@apply bg-gray-200;
		position:absolute;
		left:0;
		bottom: 1em;

	}


}

.anim-nav-closed {
	transform: translateY( calc(-1 * var(--navbar-height) * 5rem));
}
.anim-nav-opened {
	transform: translateY( calc( --var(navbar-height) * 5rem));
}
@tailwind components;

@tailwind utilities;
