<footer class="relative h-full">
  <div class="decor-dark"></div>

  <div class="mt-8 prose prose-dark md:mt-0 md:order-1 py-12 mx-auto md:flex md:items-center md:justify-between ">

  </div>
</footer>