---
title: Tous les articles
date: 2020-08-05
description: The Posts List display is controled in /src/_data/structure.js and ships with 4 options.
layout: page
eleventyNavigation:
  key: main
  title: Blog #  as it will appear in the nav
  order: 1    # order to display in the nav
seo:
  title: Tous les articles
  description:
pagination:
  data: collections.post
  size: 40
  reverse: true
  alias: posts

---

<hr class="my-8">

<div class="blog-wrapper">
  <div class="search">
    <div class="flex flex-col field">
      <label for="searchField">Rechercher</label>
      <input type="search"  class="w-1/2 p-2 border-gray-600 rounded-md" placeholder="" id="searchField"/>
    </div>
    <div id="noResultsFound" style="display: none">
      <p>Aucun résultat.</p>
    </div>
  </div>

  {% include 'components/postslist.njk' %}
</div>

<script  src="/assets/scripts/lunr.stemmer.support.js" defer></script>
<script  src="/assets/scripts/lunr.fr.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
<script  src="/assets/scripts/search.js" defer></script>