---
title: Site en construction.
layout: page
date: 2020-08-05
description: # used for page excerpts and META (will be overwritten if SEO used below)

postListItemStyle:
  complete: false
  showPagination: false
pagination:
  data: projects
  size: 5
  alias: projectsList
  reverse: true
---

<div class="{{ structure.g_pageWidth }} ">

  <img class="w-1/4 mx-auto my-8" src="/assets/UI/construction.gif" alt=""></img>

  {% if seo.description %}
    <div class="p-2 {{ colors.borderCustom.borders or colors.borderDefault.borders }} {{ colors.borderCustom.color or colors.borderDefault.color }}">
      {{ seo.description }}
    {% endif %}

    <section class="mb-16">
      <h2>Bafouilles</h2>
      {% set postslist = collections.post | reverse | slice(0, 3) %}

      {% include 'components/postslist.njk' %}

      <a href="/blog" class="text-xl font-semibold leading-7 text-accent2 lg:text-2xl ">Voir tout <span aria-hidden="true">⤳</span></a>
    </section>
    <hr class="my-8">

    <section class="mb-16">
      <h2>Bidouilles</h2>
      <ul class="project-list " >
        {% for project in projectsList %}
          <li class="my-8 list-none project">
            <a class="cta-heading name " href="{{project.link}}">{{project.name}}</a>
            {#<img class="picture" src="{{project.img}}"></img>#}
            <p class="label description">{{project.description}}</p>
          </li>
        {% endfor %}
      </ul>
      <a href="/projets" class="text-xl font-semibold leading-7 text-accent2 lg:text-2xl ">Voir tout <span aria-hidden="true">⤳</span></a>
    </section>
    <hr class="my-8">

    <section class="">
      <h2>Ailleurs</h2>
      <ul class="ailleurs-list " >
        {% for item in ailleurs %}
          <li class="my-8 list-none ailleurs">
            <a class="cta-heading" href="{{item.link}}">{{item.name}}</a>
            {#<img class="picture" src="{{item.img}}"></img>#}
            <div class="label description">{{item.description}}</div>
          </li>
        {% endfor %}
      </ul>
    </section>

  </div>