---
title: Site en construction.
layout: page
date: 2020-08-05
excerpt: # used for page excerpts and META (will be overwritten if SEO used below)

postListItemStyle:
  complete: false
  showPagination: false

---

<div class="{{ structure.g_pageWidth }} ">

  <img class="w-1/3 mx-auto my-8" src="/assets/UI/construction.gif" alt=""></img>

  {% if seo.description %}
    <div class="p-2 {{ colors.borderCustom.borders or colors.borderDefault.borders }} {{ colors.borderCustom.color or colors.borderDefault.color }}">
      {{ seo.description }}
    {% endif %}

    <section class="mb-16">
      <h2>Bafouilles</h2>
      {% set postslist = collections.post | reverse | slice(0, 3) %}

      {% include 'components/postslist.njk' %}

      <a href="/blog" class="text-xl font-semibold leading-7 text-accent2 lg:text-2xl ">Tous les articles</a>
    </section>

    <section class="mb-16">
      <h2>Bidouilles</h2>
      <ul class="project-list " >
        {% for project in projects | reverse %}
          <li class="my-8 list-none project">
            <div class="text-2xl font-bold leading-7 text-accent2 lg:text-3xl name ">
              <a href="{{project.link}}">{{project.name}}</a>
            </div>
            {#<img class="picture" src="{{project.img}}"></img>#}
            <div class="text-lg description">{{project.description}}</div>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="">
      <h2>Ailleurs</h2>
      <ul class="ailleurs-list " >
        {% for item in ailleurs %}
          <li class="my-8 list-none ailleurs">
            <div class="text-2xl font-semibold leading-7 text-accent2 lg:text-3xl">
              <a href="{{item.link}}">{{item.name}}</a>
            </div>
            {#<img class="picture" src="{{item.img}}"></img>#}
            <div class="text-lg description">{{item.description}}</div>
          </li>
        {% endfor %}
      </ul>
    </section>

  </div>