---
layout: page
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - authors
    - pages
    - post
postListItemStyle:
  complete: true
  showPagination: false
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  title: 'Articles à propos de : "{{ tag }}”'
---

{#
  We set this to 'postslist' so we can use the same postslist components as the /blog
#}
{% set postslist = collections[tag] | reverse %}

{% include 'components/postslist.njk' %}

<div class="my-16 border-t border-gray-300 container-wide">
  <h3 class="{{ colors.tagPillCustom.text or colors.tagPillDefault.text }}">Tous les mots clés</h3>
  {% set tags = collections.tagList %}
  {% include "components/tagpills.njk" %}
</div>