---
title: truchet
date: 2020-08-05
layout: base
permalink: truchet2.html
---



<div id="observablehq-tileDebase-c3eb21cb"></div>
<div id="observablehq-truchet-c3eb21cb"></div>
<div id="observablehq-d3-c3eb21cb"></div>
<p>Credit: <a href="https://observablehq.com/@saint-loup/test">test by saint-loup</a></p>

<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
import define from "https://api.observablehq.com/@saint-loup/test.js?v=3";
new Runtime().module(define, name => {
  if (name === "tileDebase") return new Inspector(document.querySelector("#observablehq-tileDebase-c3eb21cb"));
  if (name === "truchet") return new Inspector(document.querySelector("#observablehq-truchet-c3eb21cb"));
  if (name === "d3") return new Inspector(document.querySelector("#observablehq-d3-c3eb21cb"));
});
</script>
