<footer class="relative h-full">
    <div class="decor-dark"></div>

    <div class="py-12 mx-auto md:flex md:items-center md:justify-between ">
      {% if structure.g_showFooterSocialIcons %}
      <div class="flex justify-center md:order-2 {{ colors.socialIconsCustom or colors.socialIconsDefault }}">

          {# Display Social icons from _data/social.json  #}
          {% for site in social %}
            {% if site.url %}
              <a aria-label="Link to {{ site.platform }}" alt="Link to {{ site.platform }}" class="hover:{{ colors.socialIconsHoverCustom or colors.socialIconsHoverDefault }}" href="{{ site.url | url }}">
                {% svg site.platform, "mx-2 h-6 w-6 fill-current", site.platform, "footer" %}
              </a>
            {% endif %}
          {% endfor %}
      </div>

        {% endif %}
      <div class="mx-auto mt-8 md:mt-0 md:order-1">
        <p class="text-center text-base leading-6 {{ colors.footerCustom.text or colors.footerDefault.text }}">
        Sauf mention contraire, le contenu de ce site est cc by-nc. Attribution : Baptiste Roullin. Vos données personnelles : j'en ai pas.
        </p>
          <p class="text-xl text-white">Site en construction.</p>

  <img style="margin:auto;width:30vmax;" src="/assets/images/construction.gif">

      </div>
    </div>
</footer>